asttokens==2.2.1
async-generator==1.10
attrs==23.1.0
backcall==0.2.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
comm==0.1.3
contourpy==1.1.0
cryptography==41.0.2
cycler==0.11.0
DateTime==5.1
debugpy==1.6.7
decorator==5.1.1
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing==1.2.0
Fiona==1.9.4.post1
fonttools==4.40.0
geopandas==0.13.2
h11==0.14.0
idna==3.4
imageio==2.31.1
importlib-metadata==6.7.0
importlib-resources==6.0.0
ipykernel==6.23.3
ipython==8.12.2
jedi==0.18.2
jupyter_client==8.3.0
jupyter_core==5.3.1
kiwisolver==1.4.4
lazy_loader==0.3
lxml==4.9.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
nest-asyncio==1.5.6
networkx==3.1
numpy==1.24.4
openpyxl==3.1.2
outcome==1.2.0
packaging==23.1
pandas==2.0.3
parso==0.8.3
patsy==0.5.3
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.8.0
prompt-toolkit==3.0.38
psutil==5.9.5
pure-eval==0.2.2
pycparser==2.21
Pygments==2.15.1
pynssp==0.1.0
pyparsing==3.0.9
pyproj==3.5.0
pyreadstat==1.2.2
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
pywin32==306
pyzmq==25.1.0
regex==2023.6.3
requests==2.31.0
scikit-image==0.21.0
scipy==1.10.1
selenium==4.10.0
shapely==2.0.1
simpledbf==0.2.6
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
stack-data==0.6.2
statsmodels==0.14.0
tifffile==2023.7.10
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
trio==0.22.0
trio-websocket==0.10.3
typing_extensions==4.7.0
tzdata==2023.3
urllib3==2.0.3
wcwidth==0.2.6
wsproto==1.2.0
xlrd==2.0.1
zipp==3.15.0
zope.interface==6.0
